  table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
            padding: 10px;
        }
        .black-cell {
            background-color: black;
            color: white;
            font-weight: bold;
            text-align: center;
        }
        a {
            color: purple;
        }
/* Your CSS Code here. */